<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="/manifest.json" />
    <script src="/static/app.js" defer></script>
    <script src="/static/comments.js" defer></script>
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <a href="#navigation">
        <img height="30px" width="30px" src="/static/images/icons8-menu.svg" alt="Hamburger menu button" />
      </a>
      <div>
        <img src="/static/images/icon.png" alt="" />
        <h1>Internetica Galactica 2</h1>
        <p>Surviving the rewriting</p>
        <nav id="navigation">
          <a href="#">&times;</a>
          <a href="#" aria-current="page">Home</a>
          <a href="/about">About</a>
          <a href="/galaxies">Galaxies</a>
          <div>
            <h5>Which hand do you prefer?</h5>
            <label>
              Left
              <input type="radio" name="preferred_hand" value="left" />
            </label>
            <br>
            <label>
              Right
              <input type="radio" name="preferred_hand" value="right" />
            </label>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <!-- Welcome header -->
      <header>
        <h1>Welcome to my website</h1>
        <h3>The modern web meets 2000</h3>
        <hr />
      </header>
      <aside>
        <h2>Special place</h2>
        <p>
          Welcome to my sidebar (o^▽^o) <br />
          Here you will find random shit!
        </p>
        <div>
          <img src="/static/images/kanata-1.webp" alt="" />
          <img src="/static/images/kanata-1.webp" alt="" />
        </div>
      </aside>
      <aside>
        <img src="/static/images/rin-len1.webp" alt="" />
        <label for="">
          <input type="checkbox" />
          <!-- yes, i love japanese stuff, how can you tell? -->
        </label>
        <!-- <img src="static/images/literallyme.jpg" alt=""> -->
      </aside>
      <!-- Welcome section -->
      <article>
        <p>
          Welcome! This is my personal website that I made as a hobby project.
          You are entirely welcome! I was inspired to make this page thanks to a
          couple of friends of mine, whose pages you can check out under the
          "Galaxies" page.
        </p>
        <img
          height="10rem"
          {{!-- width="160px" --}}
          src="/static/images/rin-2.webp"
          alt="Gif of vocaloid character Kagamine Rin jumping up and down. Comes from music video 'Nanchoukei Danshi ga Taosenai' by LamazeP"
        />
        <section>
          <h2>Tech</h2>
          <ul>
            <li>Kubernetes</li>
            <li>Svelte</li>
            <li>SvelteKit</li>
            <li>Lot's of Japanese music</li>
          </ul>
          <h2>Misc</h2>
          <ul>
            <li>
              <a href="https://dutchellie.nl/DutchEllie/svelte-website"
                >Gitea Repo</a
              >
            </li>
            <li>
              <a href="https://drone.dutchellie.nl/DutchEllie/svelte-website"
                >Drone CI/CD
                <img
                  height="20px"
                  width="91px"
                  src="https://drone.dutchellie.nl/api/badges/DutchEllie/svelte-website/status.svg?ref=refs/heads/main"
                  alt="Build status badge from Drone CI/CD"
              /></a>
            </li>
          </ul>
        </section>
        <section>
          <h2>Details</h2>
          <p>
            This entire project is open source (GPL-3) and the source code is
            linked above. In addition, a CI/CD pipeline deploys this website on
            every push.
          </p>
        </section>
      </article>
      <!-- Guestbook section -->
      <article class="guestbook" >
        <h2>Guestbook</h2>
        <p>
          You can leave any comment you want right here in this guestbook! No
          signing up necessary.
        </p>
        <form>
          <input
            type="text"
            name="nickname"
            id="gb-nickname"
            placeholder="Nickname (max. 40 characters)"
          />
          <input
            type="text"
            name="email"
            id="gb-email"
            placeholder="Email (optional)"
          />
          <input
            type="text"
            name="website"
            id="gb-website"
            placeholder="Website (optional)"
          />
          <textarea
            name="message"
            id="gb-message"
            cols="30"
            rows="10"
            placeholder="Message (max. 360 characters)"
          ></textarea>
          <input type="submit" value="Submit" />
        </form>
        <!-- Actual guestbook -->
        {{!-- <button data-href="/comments/{{previous_page}}"><a href="/comments/{{previous_page}}">Previous</a></button>
        <button data-href="/comments/{{next_page}}"><a href="/comments/{{next_page}}" >Next</a></button> --}}
        <section class="guestbook-comments">
          <a href="/comments/{{previous_page}}">Previous</a>
          <a href="/comments/{{next_page}}" >Next</a>
            {{#each comments.comments}}
            <article class="guestbook-comment">
              <header>
                <p>Author: {{this.author_name}}</p>
                <p>
                  Time:
                  <time datetime="2023-2-14 20:00"
                    >{{this.date_time}}</time
                  >
                </p>
              </header>
              <p>
                {{this.message}}
              </p>
            </article>
            {{/each}}
        </section>
      </article>
    </main>
  </body>
</html>
